body {
	font-family: Arial, sans-serif;
	margin: 20px;
}

h1 {
	text-align: center;
	color: #333;
}

ol {
	list-style-type: none;
	padding: 0;
}

li {
	margin-bottom: 20px;
	border: 1px solid #ddd;
	padding: 10px;
	border-radius: 5px;
}

h3 {
	margin: 0;
	color: #333;
}

p {
	margin: 10px 0;
}

a {
	color: #007BFF;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

span {
	font-weight: bold;
	color: #007BFF;
}

